.formulario{
    height: auto;
   
   display: flex;
   flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.title__formulario{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    margin: 39px 70px;
}
.input__field{
    display: flex;
    flex-direction: column;
}
.label__formulario{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 20px 0 10px 0;
}
.input__formulario{
    width: 313px;
    height: 59px;
    background-color: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    border-style: none;
}
.formulario__input--big::placeholder{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.input__areatext{
    width: 313px;
    height: 218px;
    background-color: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    border-style:none ;
}
.formulario__button{
    width: 315px;
    height: 55px;
    background-color: #00ADB5;
    border-style: none;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.content__button{
    padding-bottom:190px ;
}
@media(min-width:760px){
    .content__formulario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 200px 0 200px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .title__formulario{
        margin: 0;
    }
    .grup__input-formulario{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
    .input__formulario{
        width: 288px;

    }
    .input__areatext{
        width: 600px;
    }
    .content__button{
        width: 600px;
        display:flex;
        justify-content: flex-start;
    }
}